body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0;
}

/* -----HEADER STYLING-------- */
header{
    background-color:#FFF0ED;
}

.logo__header {
    width: 100%;
    position: fixed;
    right: 0;
}


.logo-heading__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


.logo__anchor-main-page{
    text-decoration: none;
}

.logo-heading__name {
    font-size: 3.75rem;
    font-weight: 300;
    color: #393939;
    text-decoration: none;
    margin: 0;
}

.header__nav-list {
    display: flex;
    flex-wrap: wrap;
}

.nav-listed__link {
    list-style-type: none;
    display: inline-block;
    margin: 0px 1.87rem;
    text-decoration: none;
}

.header__nav-links {
    font-weight: 400;
    list-style-type: none;
    display: flex;
    text-decoration: none;
}


.header-links__link {
    font-size: 1.31rem;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    color: #393939;
}

.header-links__link__nitro-blue {
    color: #5BACC3;
}


/* ------------------------- */