body {
    font-family: 'Open Sans';
    font-weight: 400;
}

h1, h2{
    font-size: 3.75rem;
    font-weight: 300;
}


p{
    font-size: 1.12rem;
    font-weight: 400;
}


footer{
    background-color: #FFF0ED;
}

a {
    font-size: 1.31rem;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
}

.color__nitro-pink{
    background-color: #FFF0ED;
}

.color__light-gray{
    background-color: #F7F7F7;
}

.color__nitro-blue{
    color: #5BACC3;
}


.color__graphite {
    color: #393939;
}

.logo-header{
    background-color:#FFF0ED;
}


.logo-header_brand-name a {
    display: inline-block;
}

h2.color__graphite {
    display: inline;
}

nav {
    display: inline;
}


.header__nav-links, .header__nav-list {
    display: inline;
}

ul >li{
    list-style-type: none;
    display: inline-block;
    margin: 0px 30px;
    text-decoration: none;
}