
/* ------------------------------- */


/* ----MAIN SECTION STYLING --------- */

.main-section__shop-now{
    background-color: #FFF0ED;
}

.main-section-shop-now__container {
    display: flex;
    height: fit-content;
    flex-direction: row;
    align-items: center;
}

.heading-description__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
}

.nitro-shop-cta__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nitro-shop__cta{
    width: 30%;
    height: 50%;
    display: inline-block;
    text-align: center;
    margin: 0rem 31.25rem 0rem 6.25rem;  
    padding: 12.5rem 0rem; 
}

.main-heading__h1-nitro-coffee{
    font-size: 3.75rem;
    text-align: start;
    font-weight: 300;
    display: inline-block;
    margin-bottom: 0px;
}

.main-section__shop-now-description {
    font-size: 1.12rem;
    font-weight: 400;
    display: inline-block;
    text-align: initial;
}


.action__button{
    background-color: #5BACC3;
    min-width: 11.25rem;
    max-width: 80%;
    padding:1.25rem;
    margin: 1.25rem;
    border: none;
    text-decoration: none;
}

.action-button__shop-now-layout {
    display: flex;

}

.action-button__shop-now {   
    background-color: #5BACC3;
    min-width: 11.25rem;
    max-width: 80%;
    padding:1.25rem 1.25rem 1.25rem 0;
    margin: 1.25rem 1.25rem 1.25rem 0;
    border: none;
    text-decoration: none;
}
.shop-now__link {
    text-decoration: none;
    color: white;
    font-size: 1.31rem;
    font-weight: 400;
}

.shop-now-img__container {
    margin-top: 50px;
}
/* ------------------------- */


/* -----PRODUCTS STYLING ---------- */

.products-list__container {
    background-color:#F7F7F7;
}

.product__heading {
    display: block;
    font-size: 3.75rem;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
}


.prod-items__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F7F7F7;
}


/* ------ Products card ----------- */
.prod-item__card {
    min-height: 27.5rem;
    max-height: 28.75rem;
    min-width: 20.62rem;
    max-width: 21.875rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    box-sizing: border-box;
    border-radius: 1.25em;    
    background-color: white;
    box-shadow:  0 0.31rem 0.56rem -0.0625rem  rgba(0, 0, 0, 0.25);
    width: 18.75rem;
    height: 28.125rem;
    text-align: center;
}

.product__image {
    min-height: 15rem;
    max-height: 34.37rem;
    margin-top: 1.25em;   
}

.product__name {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    margin: 3.12em 0 0 0;
    background-color: #FFF0ED;
    width: 100%;
    border-radius: 0 0 1.25em 1.25em;
}

.products-heading__h3{
    font-size: 2.062rem;
    font-weight: 300;
    color: #393939;
    margin: 0;
}

.product__package {
    text-align: start;
    margin: 0;
}

.product__detail {
    display: flex;
    flex-direction: column;
    margin: 0 16px 0 16px;
}

.prod-item__price{
    font-size: 1.12em;
    font-weight: 400;
    color: #5BACC3;
    margin: 0 15px 0 15px;
}

.price {
    font-weight: bold;
    font-size: 2.0625em;
}

/* --------------------------------- */

.view-all__container {
    text-align: center;
    background-color: #F7F7F7;
    padding: 20px 0 20px 0;
}

.action-button__view-all {
    background-color: #5BACC3;
    min-width: 11.25rem;
    max-width: 80%;
    padding:1.25rem;
    margin: 1.25rem;
    border: none;
    text-decoration: none;
}

.action-button__view-all-link {
    text-decoration: none;
    color: white;
    font-size: 1.31rem;
    font-weight: 400;
}
/* ------------------------------- */


/* ------DISCOUNT SECTION SSTYLING ------------- */


.discount__info {
    display: inline-block;
    text-align: justify;;
    color: white;
    width: 100%;
}

.discount-info__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.discount-info__text {
    font-size: 2.81rem;
    font-weight:400;
    max-width: 90%;
    color: white;
    background-color: #393939;
    text-align: center;
    min-width: 2.81rem;
    padding: 1.25em;
    margin: 1.25em;
}
    
.discount-info__text span{
    font-size: 2.81rem;
    font-weight: 700;
    min-width: 2.81rem;
    color:white;
}
/* --------------------------------- */


/* -------FOOTER STYLING -----------------------*/
footer{
    background-color: #FFF0ED;
    display: block;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
    padding: 3.12rem 0rem;
}

.footer__container {
    display: flex;
    flex-direction: revert;
    justify-content: space-evenly;
}


.footer-heading_h3 {
    font-size: 2.062rem;
    font-weight: 300;
}

.social__logo{
    max-width: 7.5rem; 
    width: 3.12rem;
    height:3.12rem;
}
/* -------------------------------------------- */