

/* -----MENU SECTION STYLING */


.menu__header-container{
    background-image: url("../assets/coffee-circle.jpg");
    min-width: 100%;
    max-width: 100%;
    min-height: 575px;
    max-height: 600px;
    background-position: center;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
 

.menu__text-container{
    min-width: 17.5em;
    max-width: 18.75em;
    min-height: 11.25em;
    max-height: 12.5em;
    background-color: #393939;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-heading__h1{
    font-size: 3.75rem;
    font-weight: 300;
    color:white;
    display: contents;
}

.drink-list__container{
    background-color: #393939;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.25rem;
    max-width: 100%;
    min-height: 3.75rem;
    max-height: 5rem; 
}

.drink-list__listed-link{
    border-left: 0.25rem solid #5BACC3;
    display: inline;
    list-style-type: none;
    font-size:1.31rem;
    padding: 0rem 2.5rem 0rem 2.5rem;
}

.drink-list__link{   
    font-weight: 400;
    display: inline ;
    text-decoration: none;
    color: white;   
    text-align: center; 
}


.menu-item__price {
    color: #5BACC3;
}
/* ---------------------------------- */

/* ---------PRODUCT DESCRIPTION STYLING----------- */

.product-heading__h2 {
    font-size: 3.75rem;
    font-weight: 300;
    text-align: center;
    margin: 20px 0; 
}

.product-heading__h3 {
    font-size: 2.062rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0;
}

.product-description__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF0ED;
    padding-bottom: 20px;
}


.cold-drinks {
    background-color:#F7F7F7;
}

.pastries{
    background-color: #FFF0ED;
}

.product-description__text {
    font-size: 1.12rem;
    font-weight: 400;
    text-align: center;
    margin: 0.62em 0;
    font-style: italic;
}

.product__price {
    color: #5BACC3;
    text-align: center;
    margin: 0;
}

.product-description__item-name {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


/* ---------------------------------------- */