h2{
    font-size: 33px;
    font-weight: 300;
}





/* Header img styling */
header img {
    min-width: 50px;
    max-width: 120px;
}

.nitro-header a {
    color: #393939;
    font-size:33px;
    font-weight:300;
    text-decoration: none;
}



.nav-links{
    font-size:21px;
    font-weight: 400;
    list-style-type: none;
    
}


/* ------------------------------------ */


/* Menu cover styling */
.menu-header{
    background-image: url("../assets/coffee-circle.jpg");
    width: 100%;
    height: 800px;
    background-position: center;
    text-align: center;
    vertical-align: middle;

}

.menu-text-container{
    background-color: #393939;
    height: 300px;
    width: 400px;
}

.menu-text-container h1{
    font-size: 60px;
    font-weight: 300;
    color:white;
}
/* ---------------------------------- */

/* Drink links list  */

.drink-list-container{
    background-color: #393939;
}
.drink-list-links{
    text-align: center;
    list-style-type: none;
    font-size:21px;
    font-weight: 400;

    
}
.drink-list-links li a{
    text-decoration: none;
    color: white;
}

ul >li{
    list-style-type: none;
    
}
/* -------------------------------------- */

/* Drinks  */

.product h2{
    font-size: 60px;
    font-weight: 300;
    text-align: center;
}

.product h3{
    font-size: 33px;
    font-weight: 300;
    text-align: center;
}

.product p{
    text-align: center;
    font-size:18px;
    font-weight: 400;

}

.nitro-pink{
    background-color: #FFF0ED;
}

.light-gray{
    background-color: #F7F7F7;
}

p:last-of-type{
    color: #5BACC3;
}