

/* Menu cover styling */
.menu__header-container{
    background-image: url("../assets/coffee-circle.jpg");
    width: 100%;
    height: 50rem;
    background-position: center;
    text-align: center;
    vertical-align: middle;
}

.menu__text-container{
    background-color: #393939;
    height: 30%;
    width: 30%;
    display: inline-block;
    margin-right: 1.25rem;
}

.menu__text-container h1{
    font-size: 3.75rem;
    font-weight: 300;
    color:white;
    display: contents;
}
/* ---------------------------------- */

/* Drink links list  */


.drink-list__container{
    background-color: #393939;
    text-align: center;
}
.drink-list__container-links a{   
    list-style-type: none;
    font-size:1.31rem;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    color: white;
}


span {
    font-weight: 500;
    margin: 0px 0.62rem;
    font-weight: bold;
    font-size: 30px;
}

/* -------------------------------------- */

/* Drinks  */

.product-description h2{
    font-size: 3.75rem;
    font-weight: 300;
    text-align: center;
}

.product-description h3{
    font-size: 2.06rem;
    font-weight: 300;
    text-align: center;
}



.product-description p{
    text-align: center;

}
.product-description__details {
    width: 35%;
    margin-left: 545px;
    display: inline-block;
}


/* -------- */