@use "../global";
@use "../variables";
@use "../mixins";


.discount-info {
    @include displayProps (inline-block);
    text-align: justify;;
    @include defineColor ($colorWhite);
    width: variables.$maximum;

    &__container{
        @include displayProps (flex, row, center,center);
        margin: 100px 0;
    }

    &__text {
        @include textVariationSize (variables.2.81rem);
        @include fontWeight(400);
        max-width: 90%;
        @include defineColor ($colorWhite);
        @include backgroundColor($colorGraphite);
        text-align: center;
        min-width: 2.81rem;
        @include padding (1,25em);
        margin: 1.25em;
    }

    &__text span{
        font-size: 2.81rem;
        @include fontWeight (variables.$fontWeightBold);
        min-width: 2.81rem;
        @include defineColor ($colorWhite);
    }
}