@use "../global";
@use "../variables";
@use "../mixins";






.action-button {
    &__container {
        display: flex;
}
    &__shop-now {   
        background-color: #5BACC3;
        min-width: 11.25rem;
        max-width: 80%;
        padding:1.25rem 1.25rem 1.25rem 1.25rem;
        margin: 1.25rem 1.25rem 1.25rem 0;
        border: none;
        text-decoration: none;
}
    &__link {
        text-decoration: none;
        color: white;
        font-size: 1.31rem;
        font-weight: 400;
}
}