@use "../global";
@use "../variables";
@use "../mixins";



.products-list  {
    &__container {
        @include backgroundColor (#F7F7F7);
    }

    &-items__container {
        @include displayProps (flex,row,center,space-evenly);
        @include backgroundColor(#F7F7F7);
    }

    &__title {
        @include textVariationSize (3.75rem);
        @include fontWeight (300);
        text-align: center;
        margin-top: 0;
        display: block;
    }

    &-item__card {
        @include maxHeightWidth (28.75rem, 21.85rem);
        @include minHeightMinWidth (27.5rem, 20.62rem);
        @include displayProps (flex,column,center);
        @include borderRadius (1.25em);
        @include backgroundColor (white);  
        @include elementSizingParameters (28.12rem, 18.75rem);
        box-sizing: border-box;
        text-align: center;
        box-shadow:  0 0.31rem 0.56rem -0.0625rem  rgba(0, 0, 0, 0.25);
    }


    &__image {
        @include minHeightMinWidth(15rem);
        @include maxHeightWidth(34.37rem);
        margin-top: 1.25em;   
    }

    &__name {
        @include displayProps (flex,center,space-around);
        @include margin (3.12 0 0 0);
        @include backgroundColor ($backgroundColorPink);
        @include widthStyling (100%);
        flex-grow: 1;
        width: 100%;
        border-radius: 0 0 1.25em 1.25em;
    }

    &__details {
        @include displayProps (flex, column);
        @include margin (0 16px 0 16px);
    }

    &-name__title{
        @include color ($colorGraphite);
        @include textVariationSize (2.062rem);
        @include fontWeight (300);
        margin: 0;
    }

    &__package {
        text-align: start;
        margin: 0;
    }

    &-item__price{
        @include textVariationSize (1.12em);
        @include fontWeight (400);
        @include color ($colorNitroBlue);
        @include margin (0 15px 0 15px);
        margin: 0 15px 0 15px;
    }

    &__price-amount{
        @include fontWeight (bold);
        @include textVariationSize (2.06em);
        font-weight: bold;
        font-size: 2.0625em;
    }
}