@use "./variables";

// ----Font----//
@mixin textVariationSize ($size) {
    font-size: $size;
}

@mixin fontWeight ($font) {
    font-weight: $font;
}



// ----Color----//

@mixin defineColor ($color){
    color: $color;
}

@mixin backgroundColor ($color) {
    background-color: $color;
}


