

// ---Colors-----//

$colorWhite:white;
$backgroundColorPink:#FFF0ED;
$colorGraphite:#393939;
$colorNitroBlue:#5BACC3;
$productSectionColor:#F7F7F7;

// ---Font----
$fontWeightBold: 700;
$openSans:'Open Sans';












