@use "../variables";
@use "../mixins";




body {
    @include mixins.fontWeight (400);
    font-family: variables.$openSans;
    margin: 0;
}

header{
    @include mixins.backgroundColor (variables.$backgroundColorPink);
}

.logo   {
    &__header {
        width: 100%;
        position: fixed;
        right: 0;
        top: 0;
        text-decoration: none;
        z-index: 2;
    }

    &__anchor-main-page{ 
        text-decoration: none;
    }
    
}

.logo-heading {
    &__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
    &__name {
        @extend .logo__anchor-main-page;
        @include mixins.fontWeight (300);
        @include mixins.textVariationSize (3.75em);
        color:variables.$colorGraphite;
        margin: 0;
    }
}



.header-nav{
    &-list {
        display: flex;
        flex-wrap: wrap;
}
    &-links {
        @include mixins.fontWeight (400);
        list-style-type: none;
        display: flex;
    }

    &__listed-link {
        list-style-type: none;
        display: inline-block;
        margin: 0px 1.87rem;
        text-decoration: none;
}
}


.header-nav     {
    &-links__link {
        @include mixins.textVariationSize (1.31rem);
        @include mixins.fontWeight (400);
        text-decoration: none;
        display: inline-block;
        color:variables.$colorGraphite;
    }
}

